@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap&subset=thai');
@import 'hero';
@import 'header';
@import 'media';
@import 'animation';
@import 'container';

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo','Sriracha', sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 2rem auto;

    p {
        margin: 1rem 0;
    }
}